*out

# index files in /reference_data
*ebwt
*grp
*idx.fa
*seq
*ti

# intermediate files from pre-processing
data/*/raw_data
*accessions
*fastq
*fq
*sam
*bam
*cutadapt
*bowtiestats
*rsem

.Rproj.user
*.Rproj
.Rhistory

# choros outputs
*_bam.Rda
*_fit.Rda
*_training.Rda
*_d5_d3.Rda
*_diagnostic_plot.Rda
