*out

# index files in /reference_data
*ebwt
*grp
*idx.fa
*seq
*ti

# intermediate files from pre-processing
data/*/raw_data
*accessions
*fastq
*fq
*sam
*bam
*cutadapt
*bowtiestats
*rsem*
.Rproj.user
